<mat-card id="{{ note.style }}" class="example-card">
  <section class="card-header">
    <mat-card-header class="header-author">
      <img src="../../../../assets/images/perfil-{{ note.style }}.png" alt="Foto Perfil" mat-card-avatar class="example-header-image">
      <div>
        <mat-card-title>{{ note.title }}</mat-card-title>
        <mat-card-subtitle>{{ note.author }}</mat-card-subtitle>
      </div>
    </mat-card-header>

    <div *ngIf="checkMark()" class="example-section">
      <mat-checkbox (change)="completeTask()" checked="{{ note.status }}" class="example-margin"></mat-checkbox>
    </div>
  </section>

  <div class="card-content">
    <mat-card-content>
      <p class="conteudo-card {{ checkBox }}">{{ note.content }}</p>
    </mat-card-content>
  </div>

  <mat-card-actions class="actions">
    <div class="example-button-container">
      <button mat-fab [disabled]="options()" routerLink="/updateNote/{{ note.id }}">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-fab [disabled]="options()" (click)="openDialog()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
