<mat-card class="example-card">
  <section class="card-header">
    <mat-card-header class="header-autor">
      <img src="../../../assets/images/perfil.png" alt="Foto Perfil" mat-card-avatar class="example-header-image">
      <div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </div>
    </mat-card-header>

    <div class="example-section">
      <mat-checkbox class="example-margin"></mat-checkbox>
    </div>
  </section>

  <mat-card-content>
    <p class="conteudo-card">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="acoes">
    <div class="example-button-container">
      <button mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
