<footer class="footer">

  <mat-toolbar class="footer-conteudo">

    <div class="container-footer">
      <app-logo colorFont="branco"></app-logo>

      <div class="redes-sociais">
        <div>
          <a href="https://github.com/varela-s-matheus" class="opcoes-perfil" target="_blank" >
              <img class="icon" src="../../../assets/images/github.png" alt="GitHub icon">
          </a>
          <a href="https://www.linkedin.com/in/varela-s-matheus/" class="opcoes-perfil" target="_blank">
            <img class="icon" src="../../../assets/images/linkedin.png" alt="Linkedin icon">
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>
