.footer {
  padding: 0 10px;

  .footer-conteudo {
    background-color: var(--black);
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    height: 10rem;

    .icon {
      width: 25px;
      height: 25px;
    }

    .container-footer {
      padding: 30px;
    }

    .redes-sociais {
      display: flex;
      justify-content: center;
      margin-top: 5%;

      img {
        padding: 5px;
      }
    }
  }
}
