<header class="header">
  <mat-toolbar class="header-material">

    <span class="example-spacer">
      <img class="icon-logo" src="../../../assets/images/logo.png" alt="Logo caneta">
      <h1><a routerLink="">Tech<strong id="marca">Note</strong></a></h1>
    </span>

    <span class="opcoes-pagina">
      <div>
        <a routerLink="">Início</a>
      </div>

      <div>
        <a routerLink="">Sobre</a>
      </div>

      <div>
        <button class="perfil" mat-button [matMenuTriggerFor]="opcoesPerfil">
          <img class="icon-logo" src="../../../assets/images/menu.png" alt="Imagem perfil">
        </button>

        <mat-menu #opcoesPerfil="matMenu" >
          <a href="https://github.com/varela-s-matheus" class="opcoes-perfil" target="_blank" mat-menu-item >
            <div class="opcoes-perfil">
              <img class="icon" src="../../../assets/images/github.png" alt="GitHub icon">
              <p>GitHub</p>
            </div>
          </a>
          <a href="https://www.linkedin.com/in/varela-s-matheus/" class="opcoes-perfil" target="_blank" mat-menu-item >
            <div class="opcoes-perfil">
              <img class="icon" src="../../../assets/images/linkedin.png" alt="Linkedin icon">
              <p>LinkedIn</p>
            </div>
          </a>
        </mat-menu>
      </div>
    </span>
  </mat-toolbar>
</header>
