.header {
  padding: 0 10px;

  .icon-logo {
    width: 35px;
    height: 35px;
  }

  .header-material {
    border-radius: 0 0 15px 15px;
    margin: 0;
    padding: 0 10%;
  }

  a {
    text-decoration: none !important;
    color: var(--black);
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .opcoes-pagina {
    display: flex;
    align-items: center;

  }

  .opcoes-pagina div {
    padding: 0 10px;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;

    button {
      border-radius: 25%;
    }

    :hover {
      background-color: var(--purpple);
      transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s
    }
  }
}



