/* Apenas para controle de cores */
:root {
  --black: #252525;
  --blue: #61dbfb;
}

.header {
  padding: 10px;

  .header-material {
    border-radius: 15px;
    margin: 0;
    padding: 0 10%;
  }

  a {
    text-decoration: none !important;
    color: #252525;
  }

  #marca {
    color: #914EFA;
  }

  .example-spacer {
    flex: 1 1 auto;
    padding: 50px;
    display: flex;
    align-items: center;
  }

  .example-spacer h1{
    margin-left: 10px;
  }

  .opcoes-pagina {
    display: flex;
    align-items: center;
  }

  .opcoes-pagina div {
    padding: 0 10px;
  }

  .perfil {
    display: flex;
    align-items: center;
    border: none !important;
    background-color: transparent;
  }

  .icon-logo {
    width: 35px;
    height: 35px;
  }

}

.opcoes-perfil {
  display: flex !important;
  align-items: center;
}

.opcoes-perfil p {
  margin: 0px !important;
  padding: 0 5px;
}

.icon {
  width: 20px;
  height: 20px;
}

