  /* container tem valor setado no style da aplicação */
.container {

  .title {
    padding-left: 2.5%;
  }
  /* container-content tem valor setado no style da aplicação */
  .container-content {

    .information-notes {
      display: flex;
      justify-content: space-around;
    }

    mat-form-field {
      width: 45%;
      margin: 5px;
    }

    .content {
      width: 95%;
    }

    .card {
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    button {
      background-color: var(--purpple);
      margin-top: 10px;
    }

    .button-submit {
      display: flex;
      justify-content: flex-end;
    }
  }

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  @media screen and (max-width: 600px) {
    .container-content{
      display: block;

      .information-notes {
        display: block;
        margin: 2%;

        mat-form-field {
          display: flex;
          justify-content: center;
          width: auto;
        }
      }
    }
  }

}

