* {
  box-sizing: border-box;
}

.container{

  .isEmpty {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border-radius: 25px;
      background-color: var(--purpple);
      height: 45px;
      width: 200px;
    }
  }

  .note-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    app-card {
      width: 23%;
      margin: 1%;
    }
  }

  /* Responsive columns */
  @media screen and (max-width: 765px) {
    #column {
      width: 100% !important;
      display: block;
      margin-bottom: 0 10px;
    }
  }

  @media screen and (max-width: 1225px) {
    .note-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      app-card {
        width: 48%;
        margin: 1%;
      }
    }
  }

}
