* {
  box-sizing: border-box;
}

.container{

  .isEmpty {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border-radius: 25px;
      background-color: var(--purpple);
      height: 45px;
      width: 200px;
    }
  }

  .note-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    app-card {
      width: 100%;
      margin: 1%;
    }
  }

}
