.logo {
  display: flex;

  .font-Logo{
    color: var(--black);
    text-decoration: none !important;
  }

  #white {
    color: var(--white);
    text-decoration: none !important;
  }

  .example-spacer {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    h1 {
      margin: 0px 0px 0px 5px;
    }
  }

  .icon-logo {
    width: 35px;
    height: 35px;
  }

  #mark {
    color: var(--purpple);
  }

}
