/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --black: #252525;
  --blue: #61dbfb;
  --white: #f5f5f5;
  --purpple: #914EFA;
}

.container {
  padding: 3%;

  .container-content {
    background-color: #f5f5f5;
    padding: 5%;
    border-radius: 30px;
  }
}
