<mat-card class="example-card" id="{{ note.estilo }}">
  <section class="card-header">
    <mat-card-header class="header-autor">
      <img src="../../../../assets/images/perfil-{{ note.estilo }}.png" alt="Foto Perfil" mat-card-avatar class="example-header-image">
      <div>
        <mat-card-title>{{ note.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ note.autor }}</mat-card-subtitle>
      </div>
    </mat-card-header>

    <div *ngIf="checkMark()" class="example-section">
      <mat-checkbox class="example-margin"></mat-checkbox>
    </div>
  </section>

  <mat-card-content>
    <p class="conteudo-card">{{ note.conteudo }}</p>
  </mat-card-content>
  <mat-card-actions class="acoes">
    <div class="example-button-container">
      <button mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
